<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <title>GMDP</title>
</head>

<body>
    <!-- <p style="text-align:left;">
    use this space for logo or something
    </p> -->
  <div id="reactEntry">
  Loading ...
  </div>
  <!-- Load JavaScript -->
  <script type="text/javascript" src="/static/js/bundle.js"></script>
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script> -->
</body>

</html>
