<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <title>GMDP</title>
</head>

<body>
  <p style="text-align:left;">
    <a href="/"> GMDP </a>
    <span style="float:right;">
            <a href = "/accounts/login/"> login</a>
        </span>
  </p>
  <hr>
  <form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <input type="submit" value="login" />
  </form>

  <p>
    Don't have an account? <a href="/accounts/create/"> <b> Sign up </b> </a>
  </p>

</body>
</html>
