<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <title>GMDP</title>
</head>

<body>
  <!-- <p style="text-align:left;">
    use this space for logo or something
  </p> -->
  <hr>
  <form action="" method="post" enctype="multipart/form-data">
    Old password<input type="password" name="password" /> New password<input type="password" name="new_password1" /> New password, again<input type="password" name="new_password2" />
    <input type="submit" name="update_password" value="submit" />
  </form>
</body>

</html>